{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cells              Customer[]|ObjectCollectiion
	datamatcher            module RegexData
	q                      Search
#}
<table id="cell-index" class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">
				<a href="{{ page.get_sortURL('id') }}" class="link">Code</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if cells.count() %}
			{% for cell in cells %}
				<tr>
					<td scope="row">
						<a href="#" class="link cell-link" data-id="{{ cell.cell }}">
							<strong>{{ cell.cell }}</strong>
						</a>
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="2" class="bg-secondary text-white text-center">
					No Results found
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>
