{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vmi                    module VendorManagedInventory
	order                  VmiOrder
#}
<div class="row">
	<div class="col-sm-4">
		{% include 'whse/vmi/order/form.twig' %}
	</div>
</div>
