<section class="section-padding">
	<div class="container-fluid">
		<div class="list-group">
			<a href="{{ page.child('pw_template=whse-cstk-order').url }}" class="list-group-item list-group-item-actione">
				<i class="fa fa-database" aria-hidden="true"></i> {{ page.child('pw_template=whse-cstk-order').title }}
			</a>
		</div>
	</div>
</section>
