{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vmi                    module VendorManagedInventory
	order                  VmiOrder
#}
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-6 form-group">
				<h4>Vendor Managed Inventory</h4>
			</div>
			<div class="col-sm-6 form-group">
				<div>
					{% include 'util/button-modal.twig' with {
							'modaltarget' : '#ajax-modal',
							'modaldescription': 'Search Ordered Items',
							'icon': 'fa fa-list',
							'attributes_button': {'data-search': 'ordered'},
							'buttontext': 'Ordered'
						}
					%}
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		{% if page.has('alert') %}
			{{ page.alert|raw }}
		{% endif %}
		{% block form %}
		{% endblock %}
	</div>
</div>
