{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vmi                    module VendorManagedInventory
	order                  VmiOrder
#}
<div class="row">
	<div class="col-sm-6">
		{% include 'whse/vmi/cstkcell/form.twig' %}
	</div>
</div>
